* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #D4D4D4;
}
.container {
    width: 75%;
    margin: 0  auto;
}
.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    margin: -1px;
    opacity: 0;
}
.btn {
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    width: 240px;
    padding: 17px 22px 17px 38px;
}
.btn::after {
    content: '';
    display: block;
    float: right;
    width: 19px;
    height: 16px;
}
.btn:hover {
    background-color: #cacaca;
}
.site-header {
    background-color: #222222;
}
.site-menu {
    padding-top: 55px;
    display: flex;
    align-items: center;
}
.main-nav {
    display: flex;
    column-gap: 30px;
    margin-left: 60px;
}
li {
    list-style: none;
}
.site-menu a {
    text-decoration: none;
    color: #D4D4D4;
    cursor: pointer;
}
.site-menu a:hover{
    opacity: .8;
}
.contact-us {
    display: flex;
    margin-left: auto;
    column-gap: 25px;
}
.icon {
    display: block;
    width: 17px;
    height: 17px;
}
.icon-phone {
    background: url("../img/phone-icon.png") no-repeat;
}
.icon-mail {
    background: url("../img/mail-icon.png") no-repeat;
}
.about-us {
    padding: 110px 0px 180px 120px;
    background-image: url("../img/moon-rocket.png");
    background-repeat: no-repeat;
    background-position: right 24px;
}
.about-us h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 30px;
}
.about-us-article {
    width: 260px;
}
.btn-yellow {
    margin-top: 54px;
    background: #FFCB06;
}
.btn-yellow::after {
    background: url('../img/right-arrow-dark.png') no-repeat;
}
.advantage {
    background-color:#131313;
    padding: 80px 0;
}
.advantage-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.advantage-item {
    flex-basis: 180px;
}
.advantage-item::before {
    content: "";
    width: 60px;
    height: 68px;
    display: block;
    margin-bottom: 34px;

}
.made::before {
    background: url("../img/advantage-icon-1.png") no-repeat;
}
.food::before {
    background: url("../img/advantage-icon-2.png") no-repeat;
}
.pilot::before {
    background: url("../img/advantage-icon-3.png") no-repeat;
}
.moon-rover::before {
    background: url("../img/advantage-icon-4.png") no-repeat;
}

.col-container {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 50px 80px;
}
.col-left, .col-right {
    flex-basis: 50%;
}
.content {
    color: #000000;
    margin: 80px 0px 50px;
}
.content>.col-container {
    margin-bottom: 52px;
}
.lead {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}
.content .lead {
    margin-bottom: 27px;
}
.content-p {
    margin-top: 30px;
}
.content-p:first-child {
    margin: 17px;
}
.content-img {
    width: 100%;
    object-fit: cover;
}
.recomend-item {
    margin-bottom: 25px;
    margin-left: 30px;
}
.recomend-item::before {
    content: "";
    display: block;
    background-color: #FFCB06;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    top: 15px;
    left: -23px;
}
.vacation-request {
    color: #000;
    background: #F0F0F0;
    padding: 100px 0 68px;
}
.vacation-request .col-left {
    padding-left: 40px;
}
.vacation-request .lead {
    padding-bottom: 60px;
}
.vacation-request-text {
    max-width: 340px;
}
.form-element-window {
    box-sizing: border-box;
    padding: 17px 23px;
    width: 100%;
}
.form-element-window::placeholder {
    color: #000;
}
.form-element-window:hover::placeholder {
    color: #FFCB06;
}
.form-element-window:active::placeholder {
    color: #FFCB06;
}
.vacation-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
}
.form-element {
    flex-basis: 100%;
}
.vacation-form .half-field {
    flex-basis: 49%
}
 .btn-black {
    width: 215px;
    color: #fff;
    background-color: #222222;
    text-align: left;
    padding-left: 26px;
}
.btn-black::after{
    background: url('../img/right-arrow-white.png') no-repeat;
} 
.agreement {
    margin: 10px 0 32px;
}
[for="argee"]::before {
    content: "\2713";
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #fff;
    background: #fff;
    margin-right: 1em;
    border: 1px solid #fff;

    font-weight: bold;
}
.agreement input[type=checkbox]:hover ~ [for="argee"]::before {
    color: #FFCB06;
    border-color: #FFCB06;
}
.agreement input[type=checkbox]:checked ~ [for="argee"]::before {
    color: #333;
}

input:focus {
    outline-color: #FFCB06;
    border-color: #FFCB06;
}
.yellow {
    color:#FFCB06;
}
.timetable {
    background-color: #222222;
    padding: 97px 0px 85px;
}
.timetable-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
}
.timetable-info p{
    flex-basis: 460px;
}
.timetable-info .lead {
    flex-basis: 160px;
}
.timetable-flights {
    width: 100%;
    border-collapse: collapse;
}
.timetable th {
    text-align: left;
    background: #111111;
    padding: 18px 17px 15px;
}
.timetable td{
    padding: 20px 17px 13px;
}
.timetable-flights-row {
    border-bottom: 1px solid #555555;;
}